[submodule "vendor/gzcom-dll"]
	path = vendor/gzcom-dll
	url = https://github.com/nsgomez/gzcom-dll.git
[submodule "vendor/DBPFKit"]
	path = vendor/DBPFKit
	url = https://github.com/caspervg/DBPFKit.git
[submodule "vendor/sc4-render-services"]
	path = vendor/sc4-render-services
	url = https://github.com/caspervg/sc4-render-services.git
[submodule "vendor/D3D7Imgui"]
	path = vendor/D3D7Imgui
	url = https://github.com/caspervg/D3D7Imgui.git
[submodule "vendor/new-properties"]
	path = vendor/sc4-properties
	url = https://github.com/NAMTeam/New_Properties.xml.git
[submodule "vendor/vcpkg"]
	path = vendor/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "vendor/mINI"]
	path = vendor/mINI
	url = https://github.com/metayeti/mINI.git
